body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

.savebutton:hover {
    color:blue;
    transform:scale(1.1);
    border-radius:5px;
}

table,th{
    border-radius:5px; 
    border: 2px solid black;
    width:400px;
    height:300px;
    text-align:center;
    background:white;
}

input{
  border-radius:5px;
  background:grey;
}

input[type="text"]::placeholder {
    color:white; 
    text-align: center; 
} 

input[type="tel"]::placeholder {                     
    text-align: center; 
    color:white;
}

input[type="date"] {                     
    align:center; 
    color:white;
}

select{
    background:grey;
    color:white;
    border-radius:5px;
}

.navbar {
  background-color: #141E30;
  overflow: auto;
  display:flex;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  opacity:0.6;
  outline:none;
}

.navbar a:hover {
  opacity:1;
}

.active {
  background-color: #141E30;
}

span{
   color:white;
   margin-left: 40%;
   font-size:36px;
}

.home{
    margin-left:35%;
}

.backbutton {
        width:50px;
	padding: 10px 14px;
	font-size: 14px;
	background-color: transparent;
	border:none;
	cursor: pointer;
        opacity:0.8;
        outline:none;
}

.backbutton:hover {
	opacity:1;
        
}
