body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

.teams {
    display: flex;
    color:white;
}

.firstTeam {
    display: inline-block;
    margin: auto;
}

.secondTeam {
    display:inline-block;
    position:relative;
    margin:auto;
}

h3{
    margin-left: 40%;
}

.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    opacity:0.6;
}

.navbar a:hover {
    opacity:1;
}

.navbar {
    background-color: #293447;
    display:flex;
}
.home{
    margin-left: 40%;
}
