.intro {
 margin:auto;
 font-family:impact;
 color:white;
 background: linear-gradient(to bottom, grey 10%, black 90%);
 text-align:center;
 height:10%;
 z:1;
}

body {
background-color:grey;
}

h1{
   font-family:impact;
}

.option_logo {
  background-image: url("Solid-Black-HD-Background-.jpg");
  background-size:650px 525px;
  height:80%;
  display: flex;
}


.manage {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.managematch {
    margin:auto;
    height: 33.3%;
}

.manageteam {
    margin:auto;
    height: 33.3%;
    opacity:0.6;
}

.copyright {
    height:10%;
    font-family:impact;
    color:white;
    background: linear-gradient(to bottom, grey 10%, black 90%);
    text-align:center;
}

.manageplayer {
    width:500px;
    background-size:cover;
    background-repeat:no-repeat;
    margin:auto;
    height: 100px;
    height: 33.3%;
}

.image {
  display: block;
  width: 100px;
  margin:auto;
  height: 100px;
}

.logoimage{
   height:513px;
   width:700px;
}

.overlay{
  color:white;
}

#outerlogo {
  width:700px;
  height:194px;
  display:block;
  position:relative;
}

#outerlogo #innermessage {
  background: grey;
  height: 513px;
  width: 700px;
  visibility:hidden;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
  text-align: center;
}

pre{
  color: #fff;
  font-family: 'arial';
  text-align: center;
}

#outerlogo:hover #innermessage {
  visibility:visible;
  opacity: .9;
  transition: opacity .5s;
}

.tooltip {
  text-align:center;
}

.manageteam:hover{
    opacity:1;
}

.viewbutton {
        width:150px;
        height:150px;
	padding: 10px 14px;
	font-size: 14px;
	background-color: transparent;
	border:hidden;
	cursor: pointer;
        opacity:0.5;
        outline: none; 
}

.viewbutton:hover {
	opacity:1;
}
