body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

IMG{
    border-radius:50%;
    height:150px;
    width:150px;
}

#message {
    color:white;
}

.navbar {
  background-color: #293447;
  display:flex;
}
.home{
   margin-left: 40%;
}

h3{
   margin-left: 40%;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  opacity:0.6;
}

.navbar a:hover {
  opacity:1;
}

.backbutton {
    width:50px;
    padding: 10px 14px;
    font-size: 14px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline:none;
}

tr,td{
   text-align:left;
}


table{
   border-radius:8px;
   background-color:white;
   width:300px;
   box-shadow:2px 2px 2px 2px;
   height:300px;
}
