.information {
   display: inline-block;
   flex-basis:auto;
   overflow:none;
   height:77%
}

form {
    margin-top:6px;
    width:30px;
    height:30px;
    display: inline-block;
}

#modal {
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index:5;
}

#content {
    text-align:center;
    line-height:150px;
    margin:40%;
    width:150px;
    height:150px;
    background:white;
}

body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

h1{
  text-align:center;
}

.cards{
   margin:7px;
   border-radius:8px;
   background-color:white;
   float:left;
   width:230px;
   box-shadow:2px 2px 2px 2px;
   height:190px;
}


.card{
   margin:7px;
   border-radius:8px;
   background-color:white;
   float:left;
   width:230px;
   box-shadow:2px 2px 2px 2px;
   height:190px;
   transition:1s;
}

.edit{
  background:transparent;
  border:none;
}

.edit:hover{
    color:blue;
    transform:scale(1.1);
    border-radius:5px;
}

.delete{
  background:transparent;
  border:none;
}

.delete:hover{
    color:red;
    transform:scale(1.1);
    border-radius:5px;
}

tr,td{
text-align:left;
}

.navbar {
  background-color: #293447;
  display:flex;
}
.home{
   margin-left: 40%;
}

h3{
   margin-left: 40%;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  opacity:0.6;
}

tr,td {
   text-align:left;
}



.navbar a:hover {
  opacity:1;
}

h3{
    color:white;
}

.playerfooter{
    background-color:white;
    height:8%;
}
