body{
    margin:auto;
    color:green;
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

.infoHeading {
    height:10%
    color:white;
}

.score {
   display:flex;
}

input[type=text]{
    text-align:center;
    width:30px;
    background: transparent;
    border: none;
    color:white;
}

.heading {
    height:35%;
    color:white;
}

.scoreCard {
}

.batsmanInfo {
    display:flex;
    height:15%;
}

#firstBatsman {
    height:35px;
}

#secondBatsman {
    height:35px;
}

#firstBatsmanRun { 
    height:35px;
}

#secondBatsmanRun {
    height:35px;
}

#firstBatsmanBalls {
    height:35px;
}

#secondBatsmanBalls {
    height:35px;
}

#firstBatsmanFours {
    height:35px;
}

#secondBatsmanFours {
    height:35px;
}

#firstBatsmanSixes {
    height:35px;
}

#secondBatsmanSixes {
    height:35px;
}

#bowlerName {
    height:35px;
}

#overNumber {
    height:35px;
}

#maidenInfo {
    height:35px;
}

#runsInfo {
    height:35px;
}

#wicketInfo {
    height:35px;
}

.name {
    color:white;
    width:150px;
    height:100px; 
}

.batsmanRuns {
    color:white;
    width:100px;
    height:100px; 
}

.balls {
    color:white;
    width:100px;
    height:100px; 
}

.fours {
    color:white;
    width:100px;
    height:100px; 
}

.sixes {
    color:white;
    width:100px;
    height:100px; 
}

.overs {
    color:white;
    width:100px;
    height:100px; 
}

.bowlerRuns {
    color:white;
    width:100px;
    height:100px; 
}

.maiden {
    color:white;
    width:100px;
    height:100px; 
}

.wicket {
    color:white;
    width:100px;
    height:100px; 
}

#holder {
    margin:auto;
}

#overInformation {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

#scoreInformation {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

#wicketInformation {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

.displayOver {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

.displayScore {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

.displayWicket {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

.ball {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

.bowlerInfo {
    margin:auto;
    display:flex;
    height:15%;
}

#extras {
   margin:auto;
   text-align:center;
   vertical-align:middle;
   line-height: 40px;
   width:40px;
   height:40px;
   border-radius:50%;
   background-color:white;
}

#ballInfo {
    display:flex;
    height:15%;
}

h3{
    margin-left: 40%;
}

#chooseBowler {
    display:none;
}


#chooseBatsman {
    display:none;
}

#modal {
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index:5;
}

#content {
    display:none;
    text-align:center;
    line-height:150px;
    margin:40%;
    width:150px;
    height:150px;
    background:white;
}

form {
    color:green;
}

.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    opacity:0.6;
}

.navbar a:hover {
    opacity:1;
}

.navbar {
    background-color: #293447;
    display:flex;
}

.home{
    margin-left: 40%;
}
