.information {
   display: inline-block;
   overflow:scroll;
}

.information::-webkit-scrollbar { 
    display: none; 
}

.notTeamPlayer::-webkit-scrollbar { 
    display: none; 
}

.notTeamPlayer {
   display: inline-block;
   overflow:scroll;
}

span{
    color:white;
    font-size:20px;
}

body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

h1{
  text-align:center;
}

.container{
    display: inline-block;  
}

.teaminfo{
   color:white;
}

.cards{
   margin:7px;
   border-radius:8px;
   background-color:white;
   float:left;
   width:280px;
   box-shadow:2px 2px 2px 2px;
   height:180px;
}

.card{
   margin:7px;
   border-radius:8px;
   background-color:white;
   float:left;
   width:280px;
   box-shadow:2px 2px 2px 2px;
   height:180px;
}

.edit{
  background:transparent;
  border:none;
}

.edit:hover{
    color:blue;
    transform:scale(1.1);
    border-radius:5px;
}

.delete{
  background:transparent;
  border:none;
}

.delete:hover{
    color:red;
    transform:scale(1.1);
    border-radius:5px;
}

tr,td{
text-align:left;
}

.navbar {
  background-color: #293447;
  display:flex;
  height:10%;
}
.home{
   margin-left: 40%;
}

h3{
   margin-left: 40%;
}

.backbutton {
    width:50px;
    padding: 10px 14px;
    font-size: 14px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline:none;
    opacity:0.6;
}

.backbutton:hover{
    opacity:1.0;
}

.form{
    height:50px;
    padding:10px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  opacity:0.6;
}

.navbar a:hover {
  opacity:1;
}

h3{
    color:white;
}

.teamform{
    color:white;
}

.teamform{
    height:10%;
}

.footer{
    height:10%;   
}
