body{
    background: #282922;
}

table,tr,td,th {
    text-align:left;
}

table,th{
    border-radius:5px;
    width:400px;
    height:300px;
    color:white;
    text-align:center;
    background: #282922;
}

.navbar{
    display:flex;
    background:#282922;
    height:10%;
}

span{
    color:white;
    margin-left: 40%;
    font-size:36px;
}

.home{
    margin-left:35%;
    opacity:0.6;
}

IMG{
    border-radius:50%;
    height:150px;
    width:150px;
}

.home{
    opacity:1;
}

.backbutton {
    width:50px;
    padding: 10px 14px;
    font-size: 14px;
    background-color: transparent;
    border:none;
    cursor: pointer;
    outline:none;
    opacity:0.6;
}

.backbutton:hover{
    opacity:1;
}

.update{
    background:#AEC32E;
    height:90%;
}

.edit:hover{
    border-radius:5px;
    transform:scale(1.1);
}
