.information {
     display: inline-block;
     flex-basis:auto;
     overflow:none;
     height:70%;
}

body{
    background: linear-gradient(to bottom, #141E30 20%, #243B55 100%);
}

h1{
    text-align:center;
}

.cards{
     margin:7px;
     border-radius:8px;
     background-color:white;
     float:left;
     width:230px;
     box-shadow:2px 2px 2px 2px;
     height:230px;
}

.edit{
    background:transparent;
    border:none;
}

.edit:hover{
    color:blue;
    transform:scale(1.1);
    border-radius:5px;
}

form {
    margin-top:6px;
    width:30px;
    height:30px;
    display: inline-block;
}

.delete{
    background:transparent;
    border:none;
}

.delete:hover{
    color:red;
    transform:scale(1.1);
    border-radius:5px;
}

tr,td{
    text-align:left;
}

.navbar {
    background-color: #293447;
    display:flex;
}
.home{
    margin-left: 40%;
}

h3{
    margin-left: 40%;
}

.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    opacity:0.6;
}

.navbar a:hover {
    opacity:1;
}

h3{
    color:white;
}

.cards:hover{
    transform:scale(0.9);
    box-shadow:10px 10px 2px 2px;
}

.matchfooter{
    background-color:white;
    height:13%;
}
