body  {
  background-color:white;
  background-size: 1500px 700px;
}

#players table,td,th{
  width:300px;
  margin:5px;
  border-collapse:collapse;
  border: 1px grey;
  background-color:white;
  text-align:center;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

.delete:hover {
 color:red;
 transform:scale(1.1);
}

.edit{
  margin:auto;
}

.edit:hover {
 color:blue;
 
}
